{% load i18n %}
{% block subject %}
{% blocktrans %}Смена пароля на сайте {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Вы получили это письмо, потому что был запрошен сброс пароля для вашего аккаунта на сайте {{ site_name }}.{% endblocktrans %}

{% trans "Перейдите по ссылке ниже, чтобы установить новый пароль:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Либо отправьте POST-запрос на:" %} {{ protocol }}://{{ domain }}/api/auth/users/reset_password_confirm/
{% trans "Параметры:" %} uid={{ uid }}, token={{ token }}

{% trans "Ваш email, если вы его забыли:" %} {{ user.get_username }}

{% trans "Спасибо, что пользуетесь нашим сайтом!" %}

{% blocktrans %}Команда {{ site_name }}{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "Пожалуйста, перейдите по ссылке для смены пароля:" %}</p>
<p>НА ДАННЫЙ МОМЕНТ ССЫЛКА НЕ РАБОТАЕТ, СМЕНА ПАРОЛЯ ДОСТУПНА ТОЛЬКО ПО API</p>
<p><a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a></p>

<p>{% trans "Либо отправьте POST-запрос на:" %} {{ protocol }}://{{ domain }}/api/auth/users/reset_password_confirm/</p>
<p>{% trans "Параметры:" %} uid=<b>{{ uid }}</b> token=<b>{{ token }}</b> new_password=<b>you_password</b></p>

<p>{% trans "Ваш email, если вы его забыли:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "Спасибо, что пользуетесь нашим сайтом!" %}</p>

<p>{% blocktrans %}Команда {{ site_name }}{% endblocktrans %}</p>
{% endblock html_body %}